.staff-room{
  display: flex;
  flex-flow: column wrap;
  border: 5px outset rgba(128, 128, 128, 0.25);
  padding: 5em;
  height: auto;
  width: 45%;
  background-color: #8080800c;
  margin: 1em;
  justify-self: center;
}

.staff-room-title{
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  padding: 0px;
  border-bottom: .25em double rgb(128, 128, 128);
}