@import '../styles/variables';
@import '../components/pet/pet.scss';
@import '../components/PetPen/PetPen.scss';
@import '../components/StaffMember/StaffMember.scss';
@import '../components/StaffRoom/StaffRoom.scss';

.App {
  background-color: $vampbg;
  color: $vamptxt;
}

.main-con{
  width: 100%;
  padding-left: 7.5%;
}
